@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

.form {
  animation: 2s show ease;
}

@keyframes show {
  from { opacity: 0; }
  to { opacity: 1; }
}